body {
	padding-bottom:140px;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

.map-marker{
	background-color:blue;
	border-radius:50%;
	opacity:.85;
}

.btn-group.leaflet-control {
	clear: none;
}